body {
  background-color: #444;
}

#container {
  background-color: #F5F5F5;
  margin-top: 15px;
  padding: 45px;
  border: .4px solid #555;
  border-radius: 5px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.5);
}

#footer {
  margin-top: 2px;
  margin-bottom: 50px;
  font-size: 10px;
}

#footer p {
  float: right;
  margin-right: 50px;
  opacity: .7;
}
.selected {
  background-color: green;
  color: yellow;
}

/* DivTable.com */
.divTable{
	display: table;

}
.divTableRow {
	display: table-row;
}

.divTablePizzaCol {
	border: 1px solid #999999;
  width:600px;
	display: table-cell;
	padding: 3px 10px;
}

.divTablePriceCol {
	border: 1px solid #999999;
  width:100px;
	display: table-cell;
	padding: 3px 10px;
}

.divTableBody {
	display: table-row-group;
}

#cart {
  display: none;
}

#title {
  font-family: Wire One;
  font-size: 180px;
  color: red;
}

.size :hover {
  cursor: pointer;
  font-style: italic;
  font-weight: bolder;
}

.topping :hover {
  cursor: pointer;
  font-style: italic;
  font-weight: bolder;
}

.topping {
  font-family: Wire One;
  font-size: 24px;
  font-weight: bolder;
}
